<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" >
    <title>👻RPG</title>
</head>
<body style="background-color: rgb(209, 229, 247);">
    <center>
        <h2 style="font-family: 'Courier New', Courier, monospace;">
            Random Password Generator
        </h2>
    </center>
        <form action="pass" method="get">
            <h3 style="font-family:'Courier New', Courier, monospace;">To generate a Random Password...</h3>
            <input type="text" name="password" placeholder="Enter the length">
            <input type="submit" style="color: yellowgreen; background-color: black; font-family: 'Courier New', Courier, monospace; border-radius: 5px; font-weight: bolder;">
        </form>

    
</body>
</html>